@charset "UTF-8";

/*
  Paleta de cores
  lilas: #5f2c82
  verde: #49a09d
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:#5f2c82 ;
}

main{
    background-color: white;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    border: 5px solid #2f1540 ;
}


img{
    width: 100%;
}

div > h1{
    text-align: center;
}

div > p{
    padding: 10px;
    text-align: justify;
}

input{
    margin: 6px;
}

#isenha{
    width: 80%;
    height: 35px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 6px;
    border: 1px solid #5f2c82 ;
    color: white;
    cursor: pointer;
}

#entrar {
   display: block;
   width: 90%;
   height: 35px;
   margin: auto;
   margin-bottom: 5px;
   border-radius: 6px;
   border: 1px solid white;
   background-color:#49a09d;
   color: white;
   cursor: pointer;
}

#iesq


